.wrapper {
  label {
    position: relative;

    input {
      padding-right: 40px;

      // switch off default Microsoft Edge eye button
      &::-ms-reveal {
        display: none;
      }
    }
  }

  .icon-wrapper {
    width: 24px;
    position: absolute;
    right: 12px;
    top: 35px;
  }
}
