@import 'styles/typography.scss';
@import 'styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include body-medium-regular;

  &.lock {
    overflow: hidden;
  }
}

code {
  @include title;
}
